.App {
  margin: auto;
  background-color: #f8f8f8 !important;
  max-width: 1200px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 28rem minmax(28rem, 1fr);
  grid-template-rows: 18rem 28rem;
  grid-gap: 1em;
  color: #444;
  grid-template-areas: "logo leverager" "about leverager";
}

.box {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.22);
  background-color: white;
  padding: 1rem;
}

::-webkit-input-placeholder {
  opacity: 0.4;
}
::-moz-placeholder {
  opacity: 0.4;
}
:-ms-input-placeholder {
  opacity: 0.4;
}
:-moz-placeholder {
  opacity: 0.4;
}
