.error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: #ffffff; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.error h3 {
  margin: 3rem 2rem;
  font-size: 28px;
  font-weight: bold;
}
