.input-container {
  margin-bottom: 0.5rem;
  color: #666;
  display: flex;
  flex-direction: row;
}

.leverager-error {
  text-align: center;
  animation: fadeIn 1s linear;
  align-items: center;
  margin-top: 8rem;
}

.input-label {
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #bdb;
  align-self: center;
}

.left-padded-input {
  padding-left: 1rem;
}

.leverager-box {
  grid-area: leverager;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}

.leverager-inputs {
  width: 100%;
  padding-bottom: 0.75rem;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.leverager-box-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted #d6d6d6;
}

.stat {
  text-align: center;
  animation: fadeIn 1s linear;
  margin-top: 3rem;
}

.stat-item {
  font-weight: bold;
  font-size: 2rem;
}

.leverager-info {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
}

.dollar-sign {
  transition: all 300ms;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
