* {
  border: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow: auto;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: "Oxygen script=all rev=2", sans-serif;
}

body {
  background-color: #f8f8f8 !important;
  display: -ms-flexbox;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: auto;
  -ms-flex-item-align: stretch;
  width: 100%;
  height: 100%;
}

input {
  color: #666;
  width: 4rem;
  font-size: 1.25rem;
  font-weight: bold;
  appearance: none;
  box-shadow: none;
}

#root {
  /* overflow: auto; */
  height: 100%;
  width: 100%;
}
